<div class="blog-card">
  <p class="h3"><%= blog.title %></p>

  <% if blog.content.length <= 100 %>
  <p><%= blog.content %></p>
  <% else %>
  <p><%= blog.content[..100] %> ...</p>
  <% end %>

  <p><strong>User: </strong><%= User.find_by(id: blog.user_id).name %></p>
  <%= link_to "show more", blog%>
  
</div>
