<div class="container　header">
 <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-dark">
    <div class="col-md-3 mb-2 mb-md-0">
      <p class="h1 header text-light inline">Rail Blog App</p>
    </div>
    <div class="col-md-3 text-end">
      <p>
        <% if user_signed_in? %>    
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "header-link btn btn-light" %>
        <%= button_to 'Edit profile', edit_user_registration_path, method: :get, class: "header-link btn btn-outline-light me-2" %>
        <%= button_to "New blog", new_blog_path, method: :get, class: "header-link btn btn-outline-light me-2" %>
        <% else %>
        <%= button_to 'Sign up', new_user_registration_path, method: :get, class: "header-link btn btn-light me-2" %>
        <%= button_to 'Login', new_user_session_path, class: "header-link btn btn-outline-light" %>
        <% end %>
      </p>
    </div>
  </header>
</div>
